@model IEnumerable<JoDice.Models.BlogViewModel>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="post_box">
            <img alt="" src="assets/images/@item.Photo" class="img-responsive">
            <div class="post_content">
                <h6>
                    <a asp-controller="Blog" asp-action="BlogSingle" asp-route-id="@item.Id">@item.Title</a>
                </h6>
                <div style="clear:both; line-height:2.2em; padding:15px; width:350px;">
                    <p style="overflow:hidden;text-overflow:ellipsis; white-space:nowrap;">@item.Text</p>
                </div>
                <a asp-controller="Blog" asp-action="BlogSingle" asp-route-id="@item.Id" class="btn btn-secondary btn-rounded">Davamını ooxumaq</a>
            </div>
        </div>
    </div>
}