@{
    ViewData["Title"] = "Contact Us";
}
@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>@ViewData["Title"]</h2>
    </div>
}

@using (Html.BeginForm("Send", "ContactUs"))
{
<section class="contact-section section-padding mt-5 mb-5 contact">
    <div class="container">
        <div class="row">
            <div class="contact-form-area">
                <div class="row">
                    <div class="col col-md-4">
                        <div class="contact-text">
                            <h3>Still have query, then fill out the form!</h3>
                            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nuncIt showed a lady fitted out</p>
                        </div>
                    </div>
                    <div class="col col-md-8">
                        <div class="contact-form">

                            <form method="post" class="contact-validation-active" id="contact-form-main" asp-controller="ContactUs" asp-action="send">
                                <div>
                                    <input type="text" class="form-control mt-1" name="name" id="name" placeholder="Name*" style="border-radius:5px;">
                                </div>
                                <div>
                                    <input type="email" class="form-control mt-1" name="email" id="email" placeholder="Email*" style="border-radius:5px;">
                                </div>
                                @*<div>
                                        <input type="text" asp-for="Phone" class="form-control mt-1" name="phone" id="phone" placeholder="Phone*" style="border-radius:5px;">
                                    </div>*@
                                <div>
                                        <input type="text"  class="form-control mt-1" name="subject" id="subject" placeholder="Subject" style="border-radius:5px;">
                                    </div>
                                <div class="fullwidth">
                                    <textarea class="form-control mt-1" cols="30" rows="8" name="msg" id="note" placeholder="Case Description..." style="border-radius:5px;"></textarea>
                                </div>
                                <div class="submit-area mt-1">

                                    <button class=" btn btn-primary" type="submit" value="send">
                                        Send Email
                                    </button>

                                    @ViewBag.msg
                                    <div id="loader">
                                        <i class="ti-reload"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</section>
}


<!-- end contact-section -->
<!--  start contact-map -->
<!--<section class="contact-map-section">
    <h2 class="hidden">Contact map</h2>
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.9147703055!2d-74.11976314309273!3d40.69740344223377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1547528325671" allowfullscreen></iframe>
    </div>
</section>-->
<!-- end contact-map -->

