@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>İş əlavə et</h2>
    </div>
}
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
               <partial name="Partial/_EmploeeMenu" />
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h5>Post a job</h5>
                                <a class="btn btn-primary mypbtn" href="compnay-profile-single.html">Company profile</a>
                            </div>
                            <div class="section-divider">
                            </div>
                            <form>
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Job title</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Company name</label>
                                                <input type="text" class="form-control" placeholder="" value="Donec Software  ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Location</label>
                                                <input type="text" class="form-control" placeholder="" value="London, United Kingdom ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Job Type</label>
                                                <input type="text" class="form-control" placeholder="" value="Full time ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Salary</label>
                                                <input type="text" class="form-control" placeholder="" value="$35k - $38k">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Required experience</label>
                                                <input type="text" class="form-control" placeholder="" value="5 Years ">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Skills</label>
                                                <select class="form-control">
                                                    <option>
                                                        PHP
                                                    </option>
                                                    <option>
                                                        MySQL
                                                    </option>
                                                    <option>
                                                        API Development
                                                    </option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label>Job Description</label>
                                                <textarea class="form-control">
                        </textarea>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-9 ">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>