@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>İşçi heyəti tapın</h2>
    </div>
}

<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
               <partial name="Partial/_EmploeeMenu">
                <div class=" job_main_right">
                    <div class="row findstaf_section ">
                        <div class="col-sm-6">
                            <div class="staffBox">
                                <div class="staff_img">
                                    <img alt="" src="~/assets/images/profile-1.png">
                                </div>
                                <div class="staff_detail">
                                    <h3>Findy Sorest <img alt="" src="~/assets/images/au.svg"></h3>
                                    <p>Magento Certified Developer</p>
                                    <ul>
                                        <li>
                                            <h6>Location</h6>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Brisbane</span>
                                        </li>
                                        <li>
                                            <h6>Experience</h6>
                                            <i class="fas fa-calendar-check"></i>
                                            <span>5 Years</span>
                                        </li>
                                        <li>
                                            <h6>Age</h6>
                                            <i class="fas fa-user"></i>
                                            <span>26</span>
                                        </li>
                                    </ul>
                                    <div class="staffBox_action">
                                        <a class="btn btn-third" href="staff-profile-single.html">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="staffBox">
                                <div class="staff_img">
                                    <img alt="" src="~/assets/images/profile-2.png">
                                </div>
                                <div class="staff_detail">
                                    <h3>Dedolp Seofls <img alt="" src="~/assets/images/au.svg"></h3>
                                    <p>Magento Certified Developer</p>
                                    <ul>
                                        <li>
                                            <h6>Location</h6>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Brisbane</span>
                                        </li>
                                        <li>
                                            <h6>Experience</h6>
                                            <i class="fas fa-calendar-check"></i>
                                            <span>5 Years</span>
                                        </li>
                                        <li>
                                            <h6>Age</h6>
                                            <i class="fas fa-user"></i>
                                            <span>26</span>
                                        </li>
                                    </ul>
                                    <div class="staffBox_action">
                                        <a class="btn btn-third" href="staff-profile-single.html">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="staffBox">
                                <div class="staff_img">
                                    <img alt="" src="~/assets/images/profile-3.png">
                                </div>
                                <div class="staff_detail">
                                    <h3>Dedolp Seofls <img alt="" src="~/assets/images/au.svg"></h3>
                                    <p>Magento Certified Developer</p>
                                    <ul>
                                        <li>
                                            <h6>Location</h6>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Brisbane</span>
                                        </li>
                                        <li>
                                            <h6>Experience</h6>
                                            <i class="fas fa-calendar-check"></i>
                                            <span>5 Years</span>
                                        </li>
                                        <li>
                                            <h6>Age</h6>
                                            <i class="fas fa-user"></i>
                                            <span>26</span>
                                        </li>
                                    </ul>
                                    <div class="staffBox_action">
                                        <a class="btn btn-third" href="staff-profile-single.html">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="staffBox">
                                <div class="staff_img">
                                    <img alt="" src="~/assets/images/profile-4.png">
                                </div>
                                <div class="staff_detail">
                                    <h3>Dedolp Seofls <img alt="" src="~/assets/images/au.svg"></h3>
                                    <p>Magento Certified Developer</p>
                                    <ul>
                                        <li>
                                            <h6>Location</h6>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Brisbane</span>
                                        </li>
                                        <li>
                                            <h6>Experience</h6>
                                            <i class="fas fa-calendar-check"></i>
                                            <span>5 Years</span>
                                        </li>
                                        <li>
                                            <h6>Age</h6>
                                            <i class="fas fa-user"></i>
                                            <span>26</span>
                                        </li>
                                    </ul>
                                    <div class="staffBox_action">
                                        <a class="btn btn-third" href="staff-profile-single.html">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="staffBox">
                                <div class="staff_img">
                                    <img alt="" src="~/assets/images/profile-5.png">
                                </div>
                                <div class="staff_detail">
                                    <h3>Dedolp Seofls <img alt="" src="~/assets/images/au.svg"></h3>
                                    <p>Magento Certified Developer</p>
                                    <ul>
                                        <li>
                                            <h6>Location</h6>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Brisbane</span>
                                        </li>
                                        <li>
                                            <h6>Experience</h6>
                                            <i class="fas fa-calendar-check"></i>
                                            <span>5 Years</span>
                                        </li>
                                        <li>
                                            <h6>Age</h6>
                                            <i class="fas fa-user"></i>
                                            <span>26</span>
                                        </li>
                                    </ul>
                                    <div class="staffBox_action">
                                        <a class="btn btn-third" href="staff-profile-single.html">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="staffBox">
                                <div class="staff_img">
                                    <img alt="" src="~/assets/images/profile-6.png">
                                </div>
                                <div class="staff_detail">
                                    <h3>Dedolp Seofls <img alt="" src="~/assets/images/au.svg"></h3>
                                    <p>Magento Certified Developer</p>
                                    <ul>
                                        <li>
                                            <h6>Location</h6>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>Brisbane</span>
                                        </li>
                                        <li>
                                            <h6>Experience</h6>
                                            <i class="fas fa-calendar-check"></i>
                                            <span>5 Years</span>
                                        </li>
                                        <li>
                                            <h6>Age</h6>
                                            <i class="fas fa-user"></i>
                                            <span>26</span>
                                        </li>
                                    </ul>
                                    <div class="staffBox_action">
                                        <a class="btn btn-third" href="staff-profile-single.html">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>

