@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>İş siyahılarım</h2>
    </div>
}
<!-- Main
================================================== -->
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <partial name="Partial/_EmploeeMenu" />
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h6>Your listings are shown in the table below.</h6>
                            </div>
                            <div class="table-cont">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Vacancies</th>
                                            <th>Posted</th>
                                            <th>Expires</th>
                                            <th>Interest</th>
                                            <th>Contacted</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h6><a href="post-a-job.html">Manager</a></h6>
                                                <ul class="job-dashboard-actions">
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-edit">
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-mark_filled">
                                                            Deactivate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-delete">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2020/10/17
                                            </td>
                                            <td>
                                                2020/10/01
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="post-a-job.html">Manager</a></h6>
                                                <ul class="job-dashboard-actions">
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-edit">
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-mark_filled">
                                                            Deactivate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-delete">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2020/10/17
                                            </td>
                                            <td>
                                                2020/10/01
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="post-a-job.html">Manager</a></h6>
                                                <ul class="job-dashboard-actions">
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-edit">
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-mark_filled">
                                                            Deactivate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-delete">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2020/10/17
                                            </td>
                                            <td>
                                                2020/10/01
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="post-a-job.html">Manager</a></h6>
                                                <ul class="job-dashboard-actions">
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-edit">
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-mark_filled">
                                                            Deactivate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-delete">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2020/10/17
                                            </td>
                                            <td>
                                                2020/10/01
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="post-a-job.html">Manager</a></h6>
                                                <ul class="job-dashboard-actions">
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-edit">
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-mark_filled">
                                                            Deactivate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-delete">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2020/10/17
                                            </td>
                                            <td>
                                                2020/10/01
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="post-a-job.html">Manager</a></h6>
                                                <ul class="job-dashboard-actions">
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-edit">
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-mark_filled">
                                                            Deactivate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="job-dashboard-action-delete">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2020/10/17
                                            </td>
                                            <td>
                                                2020/10/01
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>
