@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>Profili yenilə</h2>
    </div>
}

<!-- Main
================================================== -->
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <partial name="Partial/_EmploeeMenu" />
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h5>Profili yenilə</h5>
                                <a class="btn btn-primary mypbtn" href="compnay-profile-single.html">Şirkət Profili</a>
                            </div>
                            <div class="section-divider">
                            </div>
                            <form>
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Ad</label>
                                                <input type="text" class="form-control" placeholder="" value="Dedolp ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Soyad</label>
                                                <input type="text" class="form-control" placeholder="" value="Seofls ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>E-poçt</label>
                                                <input type="text" class="form-control" placeholder="" value="Seofls@itsexample.com ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Şirkətin Adı</label>
                                                <input type="text" class="form-control" placeholder="" value="Donec Software  ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Yerləşdiyi yer</label>
                                                <input type="text" class="form-control" placeholder="" value="London, United Kingdom ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>İş Tipi</label>
                                                <input type="text" class="form-control" placeholder="" value="Full time ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Gözlənilən Əmək Haqqı</label>
                                                <input type="text" class="form-control" placeholder="" value="$35k - $38k">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Ümumi Təcrübə</label>
                                                <input type="text" class="form-control" placeholder="" value="5 Years ">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label>Bacarıqlar</label>
                                                <select class="form-control">
                                                    <option>
                                                        PHP
                                                    </option>
                                                    <option>
                                                        MySQL
                                                    </option>
                                                    <option>
                                                        API Development
                                                    </option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label>Şirkət haqqında</label>
                                                <textarea class="form-control">
                        </textarea>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-9 ">
                                        <button type="submit" class="btn btn-primary">Təstiglə</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>
