
<div class="sidebar">
    <ul class="user_navigation">
        <li>
            <a asp-controller="JobSeekerPanel" asp-action="index">
                <i class="fas fa-search"></i>İşlərə baxın
            </a>
            <a class="filter_btn" href="#sidebar_filter_option">
                <i class="fas fa-filter"></i>
                <i class="fas fa-times"></i>
            </a>
        </li>
        <li>
            <form id="#sidebar_filter_option" class="filter_option">
                <div class="form-group">
                    <label>Yer</label>
                    <div class="field">
                        <i class="fas fa-map-marker-alt"></i>
                        <select class="js-example-basic-single" name="state">
                            <option value="AL">ALABAMA</option>
                            <option value="WY">WYOMING</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Açar sözlər</label>
                    <div class="field">
                        <i class="fas fa-briefcase"></i>
                        <select class="js-example-basic-single" name="state">
                            <option value="AL">e.g. job title</option>
                            <option value="WY">Title 1</option>
                            <option value="WY">Title 2</option>
                            <option value="WY">Title 3</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Kateqoriya</label>
                    <div class="field">
                        <i class="fas fa-briefcase"></i>
                        <select class="js-example-basic-single" name="state">
                            <option>Admin Support</option>
                            <option>Customer Service</option>
                            <option>Data Analytics</option>
                            <option>Design &amp; Creative</option>
                            <option>Legal</option>
                            <option>Software Developing</option>
                            <option>IT &amp; Networking</option>
                            <option>Writing</option>
                            <option>Translation</option>
                            <option>Sales &amp; Marketing</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Maaş</label>
                    <div class="field">
                        <input type="text" placeholder="e.g. 10k" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label>Etiketlər</label>
                    <div class="field">
                        <div class="form-group custom_checkboxes">
                            <label class="custom_checkbox" for="tag-1">
                                <input type="checkbox" name="usertype" id="tag-1" value="job seeker">
                                <span><i class="fas fa-check"></i>PHP</span>
                            </label>
                            <label class="custom_checkbox" for="tag-2">
                                <input type="checkbox" name="usertype" id="tag-2" value="employer">
                                <span><i class="fas fa-check"></i> MySQL</span>
                            </label>
                            <label class="custom_checkbox" for="tag-3">
                                <input type="checkbox" name="usertype" id="tag-3" value="employer">
                                <span><i class="fas fa-check"></i> API</span>
                            </label>
                            <label class="custom_checkbox" for="tag-4">
                                <input type="checkbox" name="usertype" id="tag-4" value="employer">
                                <span><i class="fas fa-check"></i> react</span>
                            </label>
                            <label class="custom_checkbox" for="tag-5">
                                <input type="checkbox" name="usertype" id="tag-5" value="employer">
                                <span><i class="fas fa-check"></i> design</span>
                            </label>
                        </div>
                    </div>
                </div>

            </form>
        </li>
        <li >
            <a asp-controller="JobSeekerPanel" asp-action="jobdashboard">
                <i class="fas fa-border-all"></i> İş Paneli
            </a>
        </li>
    </ul>
    <h5>Təşkil et və İdarə et</h5>
    <ul class="user_navigation">
        <li >
            <a asp-controller="JobSeekerPanel" asp-action="starredjob"><i class="fas fa-star"></i> Bəyəndiyim işlər</a>
        </li>
    </ul>
    <h5>Hesab</h5>
    <ul class="user_navigation">
        <li >
            <a asp-controller="JobSeekerPanel" asp-action="updateprofil"><i class="fas fa-user"></i> Profili yenilə</a>
        </li>
        @*<li class="is-active">*@
        <li>
            <a asp-controller="JobSeekerPanel" asp-action="changepassword"><i class="fas fa-key"></i>Parolu dəyiş</a>
        </li>
        <li>
            <a href="edit-password.html"><i class="fas fa-power-off"></i> Çıxış</a>
        </li>
    </ul>
</div>

   

