@model IEnumerable<JoDice.Models.TagViewModel>

    <ul class="tags">
        @foreach (var item in Model)
        {
            <li><a href="#">@item.TagName</a></li>
        }
        @*<li><a href="#">business</a></li>
        <li><a href="#">company</a></li>
        <li><a href="#">earnings</a></li>
        <li><a href="#">employees</a></li>
        <li><a href="#">future</a></li>
        <li><a href="#">job</a></li>
        <li><a href="#">jobseek</a></li>
        <li><a href="#">market</a></li>
        <li><a href="#">resume</a></li>
        <li><a href="#">secrets</a></li>
        <li><a href="#">skills</a></li>
        <li><a href="#">strategy</a></li>
        <li><a href="#">suggestions</a></li>
        <li><a href="#">training</a></li>
        <li><a href="#">unemployment</a></li>
        <li><a href="#">work</a></li>*@
    </ul>
