@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>Şifrəni Dəyiş</h2>
    </div>
}
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <partial name="Partial/_JobMenu" />
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h5>Şifrəni Dəyiş</h5>
                            </div>
                            <div class="section-divider">
                            </div>
                            <form>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label for="current-password">Hazırkı şifrə</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" placeholder="" id="current-password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label for="new-password">Yeni şifrə</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" placeholder="" id="new-password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label for="confirm-new-password">Yeni Şifrəni təsdiqlə</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" placeholder="" id="confirm-new-password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                        <button type="submit" class="btn btn-primary">Təsdiqlə</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>

