@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>İşlərə baxın</h2>
    </div>
}
 
 <main>
     <div class="job_container">
         <div class="container">
             <div class="row job_main">
                 <partial name="Partial/_JobMenu" />
                 <div class=" job_main_right">
                     <div class="jm_headings">
                         <h5>Siyahıdakı İşlərə nəzər salın</h5>
                     </div>
                     <div class="row full_width featured_box_outer">
                         <div class="col-sm-12">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-02.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 2 days ago
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                                     <a class="btn btn-primary" href="#">Apply Now</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-12">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-05.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 3 days ago
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="fas fa-heart"></i></a>
                                     <a class="btn btn-primary" href="#">Apply Now</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-12">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-01.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 5 days ago
                                             </a>
                                         </li>

                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                                     <a class="btn btn-primary disabled" href="#">Applied</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-12">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-03.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 5 days ago
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                                     <a class="btn btn-primary" href="#">Apply Now</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="section-divider">
                     </div>
                     <div class="jm_headings">
                         <h5>Browse Jobs in grid</h5>
                     </div>
                     <div class="row two_col featured_box_outer">
                         <div class="col-sm-6">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-01.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 2 days ago
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                                     <a class="btn btn-primary" href="#">Apply Now</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-02.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 3 days ago
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="fas fa-heart"></i></a>
                                     <a class="btn btn-primary" href="#">Apply Now</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/c-logo-03.webp">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 5 days ago
                                             </a>
                                         </li>

                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                                     <a class="btn btn-primary disabled" href="#">Applied</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="featured_box ">
                                 <div class="fb_image">
                                     <img alt="brand logo" src="assets/images/demo-restro.jpg">
                                 </div>
                                 <div class="fb_content">
                                     <h4>Restaurant General Manager</h4>
                                     <ul>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-landmark"></i>
                                                 Magna Aliqua
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="fas fa-map-marker-alt"></i>
                                                 New York
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <i class="far fa-clock"></i>
                                                 5 days ago
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="fb_action">
                                     <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                                     <a class="btn btn-primary" href="#">Apply Now</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </main>
                
