@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>İşlərə baxın</h2>
    </div>
}
 
 <main>
     <div class="job_container">
         <div class="container">
             <div class="row job_main">
                 <partial name="Partial/_JobMenu" />
                 <div class=" job_main_right">
                     <div class="jm_headings">
                         <h5>Siyahıdakı İşlərə nəzər salın</h5>
                     </div>
                     <div class="row two_col featured_box_outer">
                        <vc:brows-job></vc:brows-job>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </main>
                
