@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>Bəyəndiyim iş</h2>
    </div>
}
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <partial name="Partial/_JobMenu" />
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h6>My favourite/starred jobs</h6>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="job_title">Job Title</th>
                                        <th class="date">Email Sent on </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">TEST Full Job Waiter</a></td>
                                        <td class="expires">September 30, 2020</td>
                                    </tr>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">Resort Manage</a></td>
                                        <td class="expires">October 15, 2020</td>
                                    </tr>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">Resort Manage</a></td>
                                        <td class="expires">October 15, 2020</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section-divider">
                    </div>
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h6>Job I contacted for</h6>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="job_title">Job Title</th>
                                        <th class="date">Email Sent on </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">Job for waitor</a></td>
                                        <td class="expires">September 26, 2019</td>
                                    </tr>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">test new</a></td>
                                        <td class="expires">September 26, 2019</td>
                                    </tr>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">Hotel Assistance</a></td>
                                        <td class="expires">September 26, 2019</td>
                                    </tr>
                                    <tr>
                                        <td class="job_title"><a href="job-single.html">Assistance </a></td>
                                        <td class="expires">September 26, 2019</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

