
@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>Üzvlük Planı</h2>
    </div>
}
<main>
    <div class="simple_page">
        <div class="container">

            <vc:membership></vc:membership>

        </div>
    </div>
</main>
