@model JoDice.Models.BlogViewModel

@section Inner{
    header_inner
}

@section Header{
    <div class="header_btm">
        <h2>@Model.Title</h2>
    </div>
}

<!-- Main
================================================== -->
<main>
    <div class="blog-listing">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post_box singlepb">
                                <img alt="" src="~/assets/images/@Model.Photo" class="img-responsive">
                                <div class="post_content">
                                    <h6>
                                        <a href="blog-single.html">@Model.Title</a>
                                    </h6>
                                    @*<p>Queequeg removed himself to just beyond the head of the sleeper, and lighted his tomahawk pipe. We kept the pipe passing over the sleeper, from one to the other. Meanwhile, upon questioning him in his broken fashion, Queequeg gave me to understand that, in his land, owing to the absence of settees and sofas of all sorts, the king, chiefs, and great people generally, were in the custom of fattening some of the lower orders for ottomans.</p>

                                        <p>I was going to warn ye against — but never mind, never mind — it’s all one, all in the family too — sharp frost this morning, ain’t it? The cabin entrance was locked within; the hatches were all on, and lumbered with coils of rigging. Going forward to the forecastle, we found the slide of the scuttle open. Seeing a light, we went down, and found only an old rigger there, wrapped in a tattered pea-jacket. He was thrown at whole length upon two chests, his face downwards and inclosed in his folded arms. The profoundest slumber slept upon him.</p>

                                        <p>
                                            But it seemed that, when on the wharf, Queequeg had not at all noticed what I now alluded to; hence I would have thought myself to have been optically deceived in that matter, were it not for Elijah’s otherwise inexplicable question. But I beat the thing down; and again marking the sleeper, jocularly hinted to Queequeg that perhaps we had best sit up with the body; telling him to establish himself accordingly. He put his hand upon the sleeper’s rear, as though feeling if it was soft enough; and then, without more ado, sat quietly down there.
                                        </p>*@

                                    <span>@Model.Text</span>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog_sidebar">
                        <div class="single-job-sidebar">
                            <div class="sjs_box">
                                <h3>Search blog</h3>
                                <form class="form-inline" action="http://veepixel.com/action_page.php">
                                    <input type="text" class="form-control" placeholder="Search" id="search-blog">

                                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </form>

                            </div>
                            <div class="sjs_box">
                                <h3>Tags</h3>
                                <ul class="tags">
                                    <li><a href="#">business</a></li>
                                    <li><a href="#">company</a></li>
                                    <li><a href="#">earnings</a></li>
                                    <li><a href="#">employees</a></li>
                                    <li><a href="#">future</a></li>
                                    <li><a href="#">job</a></li>
                                    <li><a href="#">jobseek</a></li>
                                    <li><a href="#">market</a></li>
                                    <li><a href="#">resume</a></li>
                                    <li><a href="#">secrets</a></li>
                                    <li><a href="#">skills</a></li>
                                    <li><a href="#">strategy</a></li>
                                    <li><a href="#">suggestions</a></li>
                                    <li><a href="#">training</a></li>
                                    <li><a href="#">unemployment</a></li>
                                    <li><a href="#">work</a></li>
                                </ul>
                            </div>
                            <div class="sjs_box">
                                <h3>Recent Posts</h3>
                                <ul class="recentpost">
                                    <li><a href="blog-single.html">4 Secrets To Be Strategic About Your Job Search</a></li>
                                    <li><a href="blog-single.html">Why Long-Term Unemployment Isn’t As Bad As You Think</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>






