@model JoDice.Models.BlogViewModel
@{
    ViewData["Title"] = "Blog";
}
@section Inner{
    header_inner
}
@section Header{
    <div class="header_btm">
        <h2>@ViewData["Title"]</h2>
    </div>
}


<!-- Main
================================================== -->
<main>
    <div class="blog-listing">
        <div class="container">
            <div class="row">
                @*Blog main*@
                <div class="col-md-9">
                    <div class="row">

                        <vc:blog></vc:blog>

                       
                    </div>
                </div>
                @*Blog SideBar*@
                <div class="col-md-3">
                    <div class="blog_sidebar">
                        <div class="single-job-sidebar">
                            @*Blog Search*@
                            <div class="sjs_box">
                                <h3>Axtarış</h3>
                                
                                @*<form class="form-inline" action="http://veepixel.com/action_page.php">*@
                                    <form class="form-inline" method="post">
                                        <input asp-for="@Model.Txt" type="text" class="form-control" placeholder="Search" id="TextSearchInput">
                                        <button type="submit" class="btn btn-primary" id="ApplyTextSearchButton"><i class="fas fa-search"></i></button>

                                    </form>

</div>
                            @*Blog tags*@
                            <div class="sjs_box">
                                <h3>Etiketlər</h3>
                                <vc:tag></vc:tag>
                            </div>
                            @*Blogs Recent Posts*@
                            <div class="sjs_box">
                                <h3>Son Yazılar</h3>
                                <ul class="recentpost">
                                    <li><a href="blog-single.html">4 Secrets To Be Strategic About Your Job Search</a></li>
                                    <li><a href="blog-single.html">Why Long-Term Unemployment Isn’t As Bad As You Think</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>